@page "/info"

<PageTitle>Informaĵo</PageTitle>

<h1>Informaĵo</h1>
<h2>Kiel uzi</h2>
<p>
    Serĉu vorton per la serĉilo. Ĝi rigardas la x-sistemo kiel la ĉapelitajn literojn (ekz: ux => ŭ). Se vi volas, vi ankaŭ povas
    uzi RegEsp'on, similan al tiu kiun <a href="https://tekstaro.com/specialaj_serchosimboloj.html">la tekstaro</a> uzas. Ekzemple, 
    se vi volas serĉi ĉiujn vortojn kiuj komencas per "r", serĉu "^r".
</p>
<h2>Pri la aŭtoro</h2>
<a href="http://jdaless.com">Ĝijano D'ALESSANDRO</a>
